* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px 0px;
  background-color: #fff;
}

/* top */

.container-top {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background: #fff;
  padding: 35px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.container-logo {
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

nav {
  width: 385px;
  display: flex;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

nav a {
  font-weight: 600;
  text-decoration: none;
  color: #233032;
  font-size: 16px;
  transition: 0.3s;
  text-transform: uppercase;
}
nav a:hover {
  color: rgb(68, 158, 158);
}

.container-logo-img {
  width: 90px;
  height: 90px;
}
.container-logo-img img {
  width: 100%;
  height: 100%;
}

.container-logo p {
  font-size: 16px;
  font-weight: 600;
  color: #2f86d6;
}

.container-logo h2 {
  font-size: 32px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1024px;
}

.section-information h3 span,
.section-table-plans h3 span {
  color: #2f86d6;
}

/** section banner **/
.section-banner {
  width: 100%;
  padding: 50px 0px;
  background-color: #2f86d6;
}

.banner-text {
  color: #fff;
  padding: 10px 20px;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  gap: 20px;
}

.banner-text h2 {
  font-size: 28px;
}

.banner-image {
  flex: 1 1 468px;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* first ads*/

.first-ads,
.second-ads {
  width: 100%;
  padding: 20px 0px;
  color: #fff;
  background-color: #233032;
}
.second-ads {
  background-color: #2f86d6;
}

.container-ads {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.ads-text h3 {
  font-size: 24px;
}

.second-ads .ads-text {
  max-width: 580px;
}

.ads-text p {
  font-size: 16px;
}

.btn-price a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  background-color: #2f86d6;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 20px;
}

.second-ads .btn-price a {
  background-color: #233032;
}

/*section information*/
.section-information {
  width: 100%;
  padding: 50px 0px;
}

.section-information h3 {
  font-size: 32px;
  color: #000;
  text-align: center;
  word-spacing: 10px;
}

.container-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.info-box {
  display: flex;
  max-width: 340px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.info-box img {
  width: 100px;
}
.info-box h3 {
  font-size: 18px;
  color: #000;
  text-align: center;
}
.info-box p {
  font-size: 16px;
  color: #000;
  text-align: center;
}

/*Section table plans*/

.section-table-plans {
  width: 100%;
  padding: 50px 0px;
  display: flex;
}
.table-plans {
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 0px 50px 10px #2f86d6;
}

.section-table-plans h3 {
  font-size: 25px;
  color: #000;
  text-align: center;
  margin: 0 auto 80px auto;
}

.table-plans table {
  width: 1024px;
}
.table-plans thead,
tbody {
  text-align: center;
}
.table-plans thead p {
  margin: 0 auto;
}

.table-plans tr,
th,
td {
  padding: 10px;
}

.table-plans h4 {
  font-size: 18px;
  color: #000;
}

.table-plans p {
  width: 150px;
  font-size: 13px;
  color: #a89f9f;
}
.table-plans img {
  width: 100px;
}

.odd-line {
  background-color: #f6f6f6;
  font-size: 16px;
}
.even-line {
  background-color: #f1f3f7;
  font-size: 16px;
}
